name: Checks

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches: [main]

jobs:
  e2e-tests:
    name: E2E tests
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Install docker compose
        run: ./scripts/ci-setup-docker-compose.sh

      - name: Build playground utils
        run: ./scripts/ci-build-playground-utils.sh

      - name: Run E2E tests
        run: make e2e-test

  unit-test:
    name: Unit test
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Install docker compose
        run: ./scripts/ci-setup-docker-compose.sh

      - name: Run unit tests
        run: go test -v ./playground/...

  lint:
    name: Lint
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Download dependencies
        run: go mod download

      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@v0.6.0

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@2025.1.1

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.1.2

      - name: Lint
        run: make lint

      - name: Ensure go mod tidy runs without changes
        run: |
          go mod tidy
          git update-index -q --really-refresh
          git diff-index HEAD

  docs-check:
    name: Check documentation is up to date
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Generate documentation
        run: make generate-docs

      - name: Check for uncommitted changes
        run: |
          git update-index -q --really-refresh
          git diff-index --quiet HEAD -- docs/recipes/ || (echo "Documentation is out of date. Please run 'go run main.go generate-docs' and commit the changes." && exit 1)
