name: Checks

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches: [main]

jobs:
  e2e-test:
    name: E2E test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24

      - name: Install docker compose
        run: ./scripts/ci-setup-docker-compose.sh

      - name: Build playground utils
        run: ./scripts/ci-build-playground-utils.sh

      - name: Run playground
        run: go test -v ./playground/... -run TestE2E

      - name: Archive playground logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: playground-logs
          path: ./e2e-logs
          retention-days: 5

  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24

      - name: Install docker compose
        run: ./scripts/ci-setup-docker-compose.sh

      - name: Run unit tests
        run: go test -v ./playground/...
