name: Checks

on:
  workflow_dispatch:
  pull_request:
  merge_group:
  push:
    branches: [main]

jobs:
  test:
    name: E2E test (${{ matrix.flags }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flags:
          - "l1"
          - "l1 --use-native-reth"
          - "l1 --with-prometheus"
          - "opstack"
          - "opstack --external-builder http://host.docker.internal:4444"
          - "opstack --enable-latest-fork=10"
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24

      - name: Install docker compose
        run: ./scripts/ci-setup-docker-compose.sh

      - name: Build playground utils
        run: ./scripts/ci-build-playground-utils.sh

      - name: Run playground
        run: go run main.go cook ${{ matrix.flags }} --output /tmp/playground --timeout 4m --watchdog

      - name: Copy playground logs
        if: ${{ failure() }}
        run: ./scripts/ci-copy-playground-logs.sh /tmp/playground /tmp/playground-logs

      - name: Archive playground logs
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: playground-logs-${{ matrix.flags }}
          path: /tmp/playground-logs
          retention-days: 5

  artifacts:
    name: Artifacts
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.24

      - name: Download and test artifacts
        run: go run main.go artifacts-all
