name: docker-utils-release
# This action is used to update the utils docker image
# whenever there is a change in the utils repo that lands on main

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'cl-proxy/**'
      - 'mev-boost-relay/**'
      - 'go.mod'
      - 'go.sum'
      - 'Dockerfile'

jobs:
  docker:
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.FLASHBOTS_DOCKERHUB_USERNAME }}
          password: ${{ secrets.FLASHBOTS_DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            docker.io/flashbots/playground-utils:latest
            docker.io/flashbots/playground-utils:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
