# .github/workflows/release.yml
name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: warp-ubuntu-latest-x64-8x
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: setup dependencies
        uses: actions/setup-go@v6

      - name: Log tag name
        run: echo "Build for tag ${{ github.ref_name }}"

      - name: Create release
        run: make ci-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.ref_name }}
